.Footer {
  margin-top: 25px;

  p {
    font-size: 13px;
    color: #555;
  }

  code {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 10px;
    background: #eee;
  }
}
