.Input {
  display: block;
  width: 100%;
  position: relative;
  padding: 40px 20px 10px 20px;
  border: 1px solid #bbb;
  margin: 10px 0;
  transition-duration: 0.2s;

  &.active {
    border-color: #000;

    label {
      color: #000;
    }
  }

  label {
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 14px;
    color: #bbb;
    transition-duration: 0.2s;
  }

  .inner-wrapper {
    display: flex;

    input {
      appearance: none;
      outline: 0;
      padding: 0;
      border: none;
      text-align: right;
      flex-grow: 1;
      font-weight: bold;
      width: 100px;
    }
    .addons {
      padding-left: 7px;
    }
  }
}
