.Result {
  .table-wrapper {
    max-height: 400px;
    overflow: auto;

    table {
      width: 100%;
      max-width: 500px;
      text-align: right;
      margin: 0 auto;

      thead th {
        padding-bottom: 10px;
      }
    }
  }

  .toggle-button {
    button {
      // start reset: https://gist.github.com/MoOx/9137295
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;

      background: transparent;

      /* inherit font & color from ancestor */
      color: inherit;
      font: inherit;

      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;

      /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;

      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
      // end reset: https://gist.github.com/MoOx/9137295

      border: 1px solid #888;
      padding: 10px 20px;
      background: #f0f0f0;
      transition: 0.05s;
      &:hover {
        background: #ddd;
      }
    }
    text-align: center;
    margin: 20px;
  }
}
