.app {
  max-width: 650px;
  margin: 0 auto;
  padding: 15px;

  h1 {
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
  }

  .form-wrapper {
    margin-bottom: 20px;
    > div {
      margin-bottom: 10px;
    }
  }
}
